/*h1 {
  font-size: 1.2em;
  /*color: #999;
  color: #6B6B6B;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
 /* color: #607D8B;
 color: #006699;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
*/


#navBar{
  position: absolute;
  margin-top: 10px;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
width:100%;
height: 20px;
}



#navBar > ul
{
  display: block;
  white-space: nowrap;
  list-style-type: none;
  font-size: 1.6rem;
}

#navBar > ul > li
{
  position: relative;
  z-index: 2;
  display: block;
  margin: 0;
  float: left;
  white-space: nowrap;
  text-transform: uppercase;
}

#navBar > ul > li + li
{
  margin-left: 1.6rem;
}


#navBar > ul > li > a
{
  display: block;
  position: relative;
  z-index: 2;
  height: 2.2rem;
  overflow: hidden;
  /*color: #fff;*/
  color: 
  line-height: 2.2rem;
  vertical-align: middle;
}

#navBar > ul > li > a:hover,
#navBar > ul > li > a:focus
{
  color: #006699;
  text-decoration: none;
}